.Googlelogo {
    text-align: center;
    display: block;
    margin-top: 200px;
}

.SearchBar {
    text-align: center;
    left: -50px;
}

#Search {
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px; 
    width: 200px;
    height: 15px;  
}

.Navbar {
    position : absolute;
    top: 10px;

}

.Navbar ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
}

.Navbar ul li {
    float: left;
}

#gmail{
    margin-left: 1100px;
}

#signin {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(66,133,244);
    padding: 0px 0px;
    margin-left: 3px;
}

.Navbar a {
    display: block;
  padding: 8px;
  color: black;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
}
